# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/node_modules
/.sass-cache
/connect.lock
/public
/dist
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/junit.xml

# System Files
.DS_Store
Thumbs.db
